.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: peru;
  color: white;
}

footer {
  background-color: teal;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin: -10px;
}
